/* sub1_1 콘텐츠 */

/* 서브 메뉴 영역 */
.sub_nav{border-bottom:1px solid #ccc;}
.sub_nav ul{width: 100%; margin: 0 auto;display: flex;}
.sub_nav ul li{width: 33.33%; box-sizing: border-box;
         text-align: center;}
.sub_nav ul li a{font-size:1.1rem; font-weight: 600;
    padding: 15px 0; 
}
.sub_nav ul li a.current{background:var(--font-color-main1); color: #fff;}

.visual{width: 100%;
    position: relative;
}
.visual strong{font-size: 1.5rem; color: #fff;
    font-weight: 600; position: absolute;
    width: 100%; left: 0; top: 50%; display: block;
    text-align: center;}
.visual img{
        width: 100%;
        margin-top: 70px;
        }

#content{padding:0 0 50px;}
/* #content .title_area{position: relative; height: 188px;
     background: url(../images/sub1_1/head01x2.png) center bottom no-repeat;
     background-size: cover;} */
#content .title_area h2{left:0; top:10px; width: 100%; text-align: center;}
#content .title_area p{margin-bottom: 30px ;}

#content span{display: block;}
/* content 시작 */
*{margin: 0; padding: 0;}
a{display: block; color: #333; text-decoration: none;}






