/* 공통 비주얼 영역 */
.wrap{width: 100%; overflow: hidden;}

.visual{width: 2000px; height: 400px; 
    position: relative; top: 0; left: 50%;
    transform: translateX(-50%);
    overflow: hidden;}
.visual strong{font-size: 32px; color: #fff;
    font-weight: 600; position: absolute;
    width: 100%; left: 0; top: 50%; display: block;
    text-align: center;}
/* 서브 메뉴 영역 */
.sub_nav{border-bottom:1px solid #ccc;}
.sub_nav ul{width: 1000px; margin: 0 auto;display: flex;}
.sub_nav ul li{width: 33.33%; box-sizing: border-box;
         text-align: center;}
.sub_nav ul li a{font-size:1.2rem; font-weight: 600;
    padding: 15px 0; transition: all 5s ease-out;
}
.sub_nav ul li a:hover,.sub_nav ul li a.current{background: #3CB149; color: #fff;}

/* 콘텐츠 타이틀 영역 */
#content{width: 100%;}
#content .title_area{width: 1400px; margin: 0 auto; 
    padding: 150px 0; position: relative;}

    /* .title_area{width: 100%; max-width: 1400px;
        margin: 0 auto; position: relative;} */
   .title_area .line_map a{font-weight: 400; display: inline;}
   .title_area .line_map{
       position: absolute; 
       left: 50%; top: -180px;
       color: #fff; text-align: center; 
       transform: translateX(-50%);}
   .title_area h2{font-size: 60px; font-weight: 700; text-align: center;
               padding: 40px 0 60px; position: relative; color: #333;}

               .title_area i{color: #6535B8;}               
   .title_area h2::before{content: ""; border: 0.5px solid #6535B8;
       width: 100px; position: absolute; left: 50%; top: 25px; transform: translateX(-50%);}
   .title_area p{font-size: 1.2rem; text-align: center; color:#333;}
   .title_area span{font-size: 1.8rem; text-align: center; display: block; color: #3CB149;}
   .title_area strong{color: #fff;}
    /* #content .title_area h2{font-size: 60px; font-weight: 700;
    text-align: center; margin-bottom: 20px; position: relative;
    }
    #content .title_area h2::after{content: ''; position: absolute; left: 50%; top: 170px;
        display: block; width: 4px; height: 100px; background: red;
        transform: translateX(-50%);}
    #content .title_area p{font-size: 24px; text-align: center; font-weight: 500;}

    #content .title_area .line map{position: absolute;
        right: 0; top: 15px; font-size: 1rem; left: 50%;} */
